body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}

.title {
  text-align: center;
  color: white;
}

.planet {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  margin: 10px;
  padding: 20px;
}

.planetImage{
  cursor: pointer;
  height: 110px;
  width: 110px;
}

.planet-info {
  display: flex;
  flex-wrap: wrap;
}

.video-detail{
  width: 300px;
  height: 350px;
}

.control-bar{
  width: 100px;
  height: 150px;
}
